:root {
  --primary-color: #ffd93d;
  --secondary-color: #ff8400;
  --text-color: #4f200d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body{
  background-color: #ff840028;
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  margin: 10px auto;
  background-color: #ffd83d21;
  border-radius: 12px;
  overflow: hidden;
}

#img-card {
  flex-grow: 1;
  max-width: 500px;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.img-org {
  width: 100%;
  position: absolute;
}

.details {
  position: relative;
  flex-grow: 1;
  max-width: 350px;
  min-height: 350px;
}

.nama {
  font-size: 40px;
  opacity: 0.5;
  margin: 20px 20px;
}

.rating {
  color: var(--primary-color);
  margin: 20px 20px;
}

.price {
  font-size: 30px;
  margin: 20px 20px;
}

.btn {
  position: absolute;
  bottom: 0%;
  left: 2%;
  border: none;
  font-size: 20px;
  padding: 10px 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.description {
  margin: 20px;
}

.description-head {
  display: inline-block;
  font-size: 30px;
  margin: 20px 0;
  color: var(--primary-color);
  background-color: #ff8400dd;
  padding: 10px 10px;
  border-radius: 10px;
}

.description-body {
  font-size: 18px;
  margin-bottom: 20px;
  padding-right: 20px;
}
/* end of container */

.btn-img {
  position: absolute;
  z-index: 2;
  border: none;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.509);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 20px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-prv {
  top: 50%;
}

.btn-next {
  right: 1%;
  top: 50%;
}

/* navbar */
nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  max-height: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  flex-grow: 1;
}

.search-bar input[type="text"] {
  border: none;
  padding: 5px;
  height: 20px;
  flex-grow: 1;
}

.search-bar button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-bar button img {
  max-width: 40px;
  max-height: 40px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.icon-button {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  display: flex;
  align-items: center;
}

.icon-button img {
  width: 24px;
  height: 24px;
}